*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    min-width: 100px;
    min-height: 100px;
    padding: 5rem;
    color:white;
    font-size: 2rem;
    font-weight: bold;
    cursor:pointer;
}
/* text{
    align-items: center;
    padding:1rem;
} */
.grandparent{
    background:#b1d4e0;
    color:black;
}
.parent{
    background: rgb(110, 157, 104);
}

.child{
    background: rgb(78, 81, 130);
}