*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    padding:1rem 2rem;
    background-color: rgb(80, 73, 73);
    color:aliceblue;
    border-radius: 10px;
}



button{

    padding: 1rem 2rem;
    font-size: 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top : 1rem;
    border: none;
    outline: none;
    transition: back 2s ;
}

button:hover{
    background: rgb(157, 81, 81);
}
